
@font-face {
  font-family: "violetsans";
  src: url("assets/VioletSans-Regular.woff2") format("woff2");
}


body{
	background-color:black;
	height:auto;
	margin: 0;
}

.slideshow-container{
  position: relative;
  height:100%;
}

.mySlides{
  overflow-y: hidden
  max-width: 1000px;
  max-height: 100vh;
  transition-property: all;
  transition-duration: .5s;
}

.mySlides.closed{
	max-height: 0;
}


.top{
	z-index:1;
	display: block;
	position: fixed;
	top: 0;
	margin: 0;
	background-color:grey;
	width:100vw;
	height:26px;
	transition: 0.4s ease;
}
.top:hover{
	background-color:black;
}

.bottom{
	z-index:1;
	display: block;
	position: fixed;
	bottom: 0;
	margin: 0;
	background-color:grey;
	width:100vw;
	height:26px;
	transition: 0.4s ease;
}

.bottom a{
	transition: 0.4s ease;
}

.bottom:hover{
	background-color:black;
}

.top-left{
	z-index:2;
	display: block;
	position:fixed;
	left:0;
	top: 0;
	margin: 0;
	background-color:#545454;
	width:26px;
	height:50vh;
	transition: 0.4s ease;
}


.top-left:hover{
	background-color:black;
}

.bottom-left{
	z-index:2;
	display: block;
	position:fixed;
	left:0;
	bottom: 0;
	margin: 0;
	background-color:#2B2B2B;
	width:26px;
	height:50vh;
	transition: 0.4s ease;
}


.bottom-left:hover{
	background-color:black;
}


.menu{
	position:fixed;
	height: 100vh;
	width: 400px;
	background-color:lightgrey;
	left: calc( 100% - 400px);
	transform: translateX(375px);
	transition: all 0.2s ease-in;
	z-index: 5;
	overflow: scroll;
	transition: 0.4s ease;
}


.open{
	transform: translateX(0);
}

.transcription{
	color: black;
	font-family: violetsans;
	font-size: 18px;
	margin: 2em;
	line-height: 1.2em;
	margin-bottom: 50px;
}

.transcription h1{
	line-height: 1em;
	margin-bottom: 5px;
}

.image-slides{
	display: block;
	float: left;
	position: relative;
	top:10em;
	left:18em;
	max-width:auto;
	height:525px;
}


.home{
	position:fixed;
	height: 100vh;
	width: 26px;
	right:0;
	background-color:#B0B0B0;
	overflow: scroll;
	transition: 0.4s ease;
}

.home:hover{
	background-color:black;
}


////////*About page*/////////
.container img{
	display: block;
	margin: 100px;
}


.description-box{
	margin: 20px;
	color: white;
	position: fixed;
	top: 100px;
	right:200px;
	float:left;
	width: 25%;
	height: 580px;
	overflow: scroll;

}

.description-text{
	font-family: violetsans;
	font-size: 18px;
	line-height: 1.2em;
	margin: 2em;
	line-height: 1.3em;
	margin-bottom: 60px;

}


////////*index page*/////////
.container{
	overflow: scroll;

}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.img-thumbnail{
	display: inline-block;
	float:left;
	margin: 50px
}

.img-thumbnail img{
	margin-right:10px;
	margin-left:10px;
}

.text{
	font-family: violetsans;
	font-size: 15px;
	line-height: 1.2em;
	float: left;
	display:inline-block;
	color:white;
	max-width: 350px;
}

////////*landing page*/////////
.landing-page{
	position: relative;
	z-index: 1;
}

.landing-page h1{
	font-family: violetsans;
	font-size: 50px;
	position:absolute;
	top:40%;
	left:25%;
	z-index: 2;
	color: white;
}

.slide-down{
	display: block;
	position: fixed;
	bottom: 0;
	margin-left: 50%;
	background-color:grey;
}

////////*landing page*/////////

.container-img{
	display: block;
	position: absolute;
	top: 50px;
}

.landing-page h1{
	display: inline-block;
	top: 40%;
	left:25%;
	color: white;
	max-width: 1000px;
	font-family: violetsans;
	font-size: 40px;
	line-height: 1.2em;
	letter-spacing: .1em;
}

.text p{
	display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 50px 10px 30px 50px;
}

.row-two, .row-three, .row-four, .row-five{
	clear:left;
}


